@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
*,
body {
   font-family: "Quicksand", sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: hsl(180, 41%, 11%);
}

.container {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-box-reflect: below 1px
      linear-gradient(hsla(0, 0%, 0%, 0.067), hsla(0, 0%, 0%, 0.267));

   .loader {
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: hsl(180, 46%, 10%);
      animation: animate 2s linear infinite;

      span {
         position: absolute;
         top: 20px;
         left: 20px;
         right: 20px;
         bottom: 20px;
         background: hsl(180, 41%, 11%);
         border-radius: 50%;
      }

      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 50%;
         height: 100%;
         background: linear-gradient(
            to top,
            transparent,
            hsla(179, 100%, 50%, 0.4)
         );
         background-size: 100px 180px;
         background-repeat: no-repeat;
         border-top-left-radius: 100px;
         border-bottom-left-radius: 100px;
      }

      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         width: 20px;
         height: 20px;
         background: hsl(179, 100%, 50%);
         border-radius: 50%;
         z-index: 10;
         box-shadow: 0 0 10px hsl(179, 100%, 50%), 0 0 20px hsl(179, 100%, 50%),
            0 0 30px hsl(179, 100%, 50%), 0 0 40px hsl(179, 100%, 50%),
            0 0 50px hsl(179, 100%, 50%), 0 0 60px hsl(179, 100%, 50%),
            0 0 70px hsl(179, 100%, 50%), 0 0 80px hsl(179, 100%, 50%),
            0 0 90px hsl(179, 100%, 50%), 0 0 100px hsl(179, 100%, 50%);
      }
   }
}

@keyframes animate{
   0%{
      transform: rotate(0deg);
   }

   100%{
      transform: rotate(360deg);
   }

}