@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
*,
body {
   font-family: "Quicksand", sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: hsl(0, 0%, 0%);
}

.content {
   position: relative;

   h2 {
      position: absolute;
      transform: translate(-50%, -50%);
      font-size: 8em;
      font-weight: bold;
      letter-spacing: -5px;
        
   }

   h2:nth-child(1) {
      color: transparent;
      -webkit-text-stroke: 2px hsl(199, 98%, 48%);
   }

   h2:nth-child(2) {
      color: hsl(199, 98%, 48%);
      animation: animate 4s ease-in-out infinite;
   }
}

@keyframes animate {
   0%,
   100% {
      clip-path: polygon(
         0% 45%,
         15% 45%,
         30% 50%,
         55% 60%,
         70% 60%,
         85% 60%,
         100% 50%,
         100% 100%,
         0% 100%
      );
   }

   50% {
      clip-path: polygon(
         0% 60%,
         15% 65%,
         35% 70%,
         50% 60%,
         70% 50%,
         85% 45%,
         100% 45%,
         100% 100%,
         0% 100%
      );
   }
}
