@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
*,
body {
   font-family: "Quicksand", sans-serif;
}

* {
   margin: 0;
   padding: 0;
   font-size: 100%;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: hsl(200, 70%, 15%);
}

.container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 30px;
   border-radius: 10px;
   box-shadow: -1px -1px 2px hsla(0, 0%, 100%, 0.25),
      inset 2px 2px 5px hsla(0, 0%, 100%, 0.25),
      8px 30px 30px hsla(0, 0%, 0%, 0.4),
      inset -2px -2px 5px hsla(0, 0%, 0%, 0.3);

   h2 {
      margin-bottom: 10px;
      font-weight: 500;
      color: hsl(207, 100%, 56%);
   }

   .skills {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      padding-right: 10px;
      box-shadow: -1px -1px 2px hsla(0, 0%, 100%, 0.25),
         inset 2px 2px 5px hsla(0, 0%, 100%, 0.25),
         8px 30px 30px hsla(0, 0%, 0%, 0.4),
         inset -2px -2px 5px hsla(0, 0%, 0%, 0.3);

      h3 {
         min-width: 180px;
         text-align: right;
         padding-right: 20px;
         color: hsl(0, 0%, 100%);
         font-size: 20px;
         font-weight: 700;
         letter-spacing: 2px;
      }

      .rating {
         position: relative;
         display: flex;
         margin: 10px 0;
         flex-direction: row-reverse;

         input {
            position: relative;
            width: 20px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            appearance: none;
            overflow: hidden;

            &::before {
               content: "\f005";
               position: absolute;
               font-family: fontAwesome;
               font-size: 35px;
               position: absolute;
               left: 4px;
               color: hsl(200, 67%, 4%);
               transition: 0.5s;
            }
         }

         input:nth-child(2n + 1)::before {
            right: 4px;
            left: inherit;
         }
      }
   }
}

.container .skills .rating input:hover ~ input::before,
.container .skills .rating input:hover::before,
.container .skills .rating input:checked ~ input::before,
.container .skills .rating input:checked::before {
   color: hsl(207, 100%, 56%);
}
